body {
  background-color: #343d52;
}

.video-container {
  display:flex;
  align-items:center;
  justify-content:center;
}

.article h1 {
  background-color: #f0f0f0;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  align-items: center;
}

.article p {
  font-size: 24px;
  padding: 20px;
  color: #f0f0f0;
}
